{% extends "basereport.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#resumen">Resumen</a>
        </div>
      </div>
    </nav>
    <!-- End Fixed navbar -->
    
    <div class="jumbotron">
        <h1>Reporte PMP para Sistemas Operativos</h1>
        <h2>Cliente</h2>
        {% block fecha %}
            <p>Fecha</p>
        {% endblock %}
    </div>
    
    {% block resumen %}
        <div class="page-header">
        <h1><a name="resumen" class="localanchor">Resumen</a></h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Hostname</th>
                <th>Version SO</th>
                <th>Direccion IP</th>
                <th>Uso de CPU</th>
                <th>Uso de RAM</th>
                <th>Uso de SWAP</th>
            </tr>
            </thead>
            <tbody>
            {% for servidor in servidores %}
                <tr>
                    <td>{{ servidor['hostname'] }}</td>
                    <td>{{ servidor['verso'] }}</td>
                    <td>{{ servidor['ip'] }}</td>
                    <td>usr:{{ servidor['cpu_usr'] }}, sys:{{ servidor['cpu_sys'] }}, wio:{{ servidor['cpu_wio'] }}, idle:{{ servidor['cpu_idle'] }}</td>
                    <td>Total: {{ servidor['ram_total'] }}Kb Usada: {{ servidor['ram_used'] }}</td>
                    <td>Total: {{ servidor['swap_total'] }}Kb Usada: {{ servidor['swap_used'] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}

